body {
    background-color: black;
}

.about-section {
    position: relative;
    padding-top: 140px;
    padding-bottom: 30px;
    color: rgb(231, 223, 223);
    animation: slideInDown 0.6s ease-in-out forwards; 
    will-change: transform, opacity;
  }
  
  
  @keyframes slideInDown {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
.about-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.about-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  flex: 1; 
  font-size:larger;
  line-height: 1.5rem;
}

.about-text h1 {
  font-size: 2.3em;
  margin-bottom: 25px;
  text-align: center;
  color: rgba(20, 182, 182, 0.925);
}

.about-img {
  flex: 1; 
}

.about-activity {
    list-style: none;
    padding-left: 20px;
    padding-top: 10px;
}

.about-img img {
  width: 95%;
  height: auto;
  margin-bottom: 50px;
  margin-left: 20%;
}

.professional-skillset,
.tools-used {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

.professional-skillset h1,
.tools-used h1, 
.github-heading {
  font-size: 2.3em;
  margin-bottom: 20px;
  color: rgba(20, 182, 182, 0.925);
}

@media (max-width: 767px) {
    .about-img {
      padding-top: 0;
    }
  }

.techstack-container,
.toolstack-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
  }
  .tech-icons {
    font-size: 4.5em;
    margin: 15px;
    padding: 27px;
    opacity: 0.93;
    border: 1.7px solid rgba(137, 211, 230, 0.637);
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 5px 4px 3px rgba(4, 135, 168, 0.137);
    overflow: hidden;
    transition: all 0.4s ease 0s;
  }
  
  @media (max-width: 767px) {
    .tech-icons {
      margin: 10px;
    }
  }
  
  .tech-icons:hover {
    transform: scale(1.05);
    overflow: hidden;
    border: 2.2px solid rgba(115, 203, 230, 0.883);
  }
  .tech-icon-images {
    padding: 20px ;
    line-height: 1.6 ;
  }
  .github-container {
    text-align: center;
  }
  
 /* Mobile responsiveness */
@media (max-width: 767px) {
  @media (max-width: 767px) {
    .about-section-header {
      flex-direction: column; 
    }
  
    .about-img {
      margin-top: 20px; 
      margin-left: 0;
    }
  
    .about-img img {
      width: 100%; 
    }
  
    .about-text h1 {
      font-size: 1.7em;
      margin-bottom: 15px;
    }
    .about-text {
      font-size:large;
    }
    .about-section {
      padding-top: 100px;
    }
  }
}