.contact-form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 140px;
  padding-bottom: 100px;
  animation: slideInDown 0.6s ease-in-out forwards;
  will-change: transform, opacity;
}

@keyframes slideInDown {
  0% {
      transform: translateY(-50px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.contact-form-container h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: rgba(20, 182, 182, 0.973);
  font-size: 2.3em;
}

.contact-form-container p {
  font-size: 1.2rem;
  text-align: center;
  color: #ffffffd2;
  margin-bottom: 25px;
}

.contact-form-container form {
  background-color: #1414148e;
  padding: 25px;
  border-radius: 4px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-bottom: 30px;
}

.contact-box {
  flex: 0 0 calc(30% - 20px); 
  background-color: #141414d3;
  padding: 12px;
  border-radius: 4px;
  margin-top: 20px;
}

.contact-info a {
  font-size: 1.2rem;
  color: #ffffffee;
  text-decoration: none;
  padding: 15px;
  transition: transform 0.3s ease-in-out;
}

.contact-info a i:hover {
  transform: scale(1.2);
}

.contact-info label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff94;
  font-size: 1.1rem;
}

.contact-info p {
  font-size: 1rem;
  margin-bottom: 10px;
  float: left;
}

form {
  display: flex;
  flex-direction: column;
}

form textarea {
  height: 100px;
}

form label {
  margin-bottom: 10px;
  color: #ffffffee;
}

form input,
form textarea {
  width: 100%;
  padding: 15px; 
  border: none;
  color: #fff;
  box-sizing: border-box;
  margin-bottom: 15px; 
  background-color: #141414d5;
  outline: none;
}

button {
  background-color: rgb(13, 139, 139);
  color: #fff;
  padding: 15px 25px; 
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

button:hover {
  background-color: #166663;
}

.name-email-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin-bottom: 10px; 
}

form #name, form #email {
  font-size: 1rem;
  width: 48%;
}
form #subject, form #message {
  font-size: 1rem;
}
/* Responsive design for smaller screens */
@media (max-width: 767px) {
  .contact-info {
      flex-direction: column; 
  }

  .contact-box {
      flex: 0 0 100%; 
  }

  .name-email-container {
    flex-direction: column; 
  }

  form #name,
  form #email{
  width: 100%; 
  }

}
