.hero-content {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center; 

  }
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .home-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content-group {
    margin-left: 10%;
    margin-bottom: 5%;
    color: #fff; 
    z-index: 1;
    animation: slideInDown 1.2s ease-in-out forwards; 
    will-change: transform, opacity;
  }
  
  
  @keyframes slideInDown {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  #wave {
    animation-name: wave-animation; 
    animation-duration: 2.1s; 
    animation-iteration-count: infinite; 
    transform-origin: 70% 70%; 
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } 
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } 
    100% {
      transform: rotate(0deg);
    }
  }
  
  #name {
    font-size: 5rem; 
    margin-bottom: 15px;
  }
  
  .heading-name {
    font-size: 5rem; 
    margin-bottom: 30px;
  }
  
  .main-name {
    color: #6adbdfc7 ; 
  }
  .Typewriter__wrapper {
    font-size: 1.5em !important;
    color: #6adbdfea !important;
    font-weight: 600 !important;
  }
  .Typewriter__cursor {
    font-size: 1.5em !important;
    color:  #6adbdff1 !important;
  }
  
  /* .home-img-clockwise {
    animation: rotateImageClockwise 10s linear infinite;
  }
  

  @keyframes rotateImageClockwise {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
   */