.project-section {
    position: relative;
    padding-top: 150px;
    padding-bottom: 60px;  
    animation: slideInDown 0.6s ease-in-out forwards; 
    will-change: transform, opacity;
  }
  
  @keyframes slideInDown {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .project-heading {
    text-align: center;
    color: rgba(20, 182, 182, 0.973);
    font-size: 1.4rem;
    margin-bottom: 25px;
  }
  
  .project-heading p {
    color: #ffffffde;
    margin: 5px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  .row {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px;
    max-width: 1140px;
    margin: auto;
  }
  
  .project-card-view {
    box-shadow: 0 4px 5px 3px rgba(53, 123, 136, 0.459);
    color: white;
    opacity: 0.9;
    transition: all 0.5s ease 0s;
    height: 100%;
    margin: 20px;
    width: 90%;   
  }
  
  .project-card-view:hover {
    transform: scale(1.02);
    overflow: hidden;
    box-shadow: 0 4px 4px 5px rgba(72, 133, 144, 0.561);
  }
  
  .project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .project-details {
    padding: 15px;
  }
  
  .project-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .project-description {
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 1.5rem;
  }
  
  .project-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .project-button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 139, 139);
    padding: 8px 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .project-button i {
    margin-right: 8px;
  }
  
/* Responsive design for smaller screens */
@media (max-width: 767px) {
  .row {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .project-card-view {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .project-heading {
    font-size: 1.6rem;
  }

  .project-title {
    font-size: 1.7rem;
  }

  .project-details {
    padding: 20px;
  }
  
}